
/* 版心 */
.w{
    width: 1190px;
    margin: auto;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?axvffw');
    src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?axvffw') format('truetype'),
      url('../fonts/icomoon.woff?axvffw') format('woff'),
      url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 京东 顶部  */
.j_event{
    height: 80px;
    background-color: black;
}
.j_event a{
    display: block;
    height: 80px;
    background: url(../images/header.jpg) no-repeat;
    position: relative;
}
.j_event a i{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50x;
    right: 0;
    font-family: "icomoon";
    font-style: normal;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgb(0,0,0,0.4);
}
/* 京东 底部  */
